<li>
	{{name}}

	<button class="change-burger" data-id="{{id}}" data-newburger="{{burger}}">
		{{#if burger}}New Burger Ready!{{else}}NOM NOM NOM!!!{{/if}}
	</button>
	<button class="delete" data-id="{{id}}">DELETE
	</button>

</li>